<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lazy.mapper.LazyFaceDetectionMapper">

	
	<!-- 首页查询团操课集合 -->
	<select id="queryCourseList" parameterType="Map" resultType="Map">
		SELECT id,title,image,descriptionSmall,date_format(courseStartTime, '%Y-%m-%d %h:%i:%s') as courseStartTime,
		date_format(courseEndTime, '%Y-%m-%d %h:%i:%s') as courseEndTime,number,attendClass FROM lazy_bns_course
		<where>
			<if test="status != null">
				AND status=#{status}
			</if>
			<if test="title != null">
				AND title LIKE CONCAT('%',#{title},'%')
			</if>
			<if test="id != null">
				AND id=#{id}
			</if>
			<if test="1==1">
				date_format(now() , '%Y-%m-%d') = date_format(courseStartTime , '%Y-%m-%d')
				AND NOW() &lt; courseStartTime
				ORDER BY courseStartTime
			</if>
		</where>
	</select>
	
	<!-- 查询约课列表私教课数据 -->
	<select id="queryCourseOrderPrivateList" parameterType="Map" resultType="map">
		SELECT lbco.id,lbcs.id as scheduleId,lbco.courseOrderName,DATE_FORMAT(lbcs.startTime,'%Y-%m-%d %H:%i:%s') as privCourseStartTime,
		lbco.courseCount,lbco.sectionNumber,lbco.type,DATE_FORMAT(lbcs.endTime,'%Y-%m-%d %H:%i:%s') as privCourseEndTime,
		lbco.courseTypeId,lbco.cid,lsu.realityName AS coachRealityName,lbs.studioName,
		lsc.defaultAvatar,lsc.status,lsc.starRating,lsu.sex,
		lsu.petName,lsu.definedPhoto,lbct.bgImage,lbct.image AS smallImage,lbcs.courseStatus,lbco.orderStatus,lss.typeName AS unitPrice,
		DATE_FORMAT(lbcs.alterStartDate,'%Y-%m-%d %H:%i:%s') as alterStartDate,DATE_FORMAT(lbcs.alterEndDate,'%Y-%m-%d %H:%i:%s') as alterEndDate
        FROM lazy_bns_course_order lbco
		LEFT JOIN lazy_bns_course_schedule lbcs ON lbco.id = lbcs.courseId
        LEFT JOIN lazy_sys_coach lsc ON lbco.cid=lsc.id
        LEFT JOIN lazy_sys_users lsu ON lsc.uid=lsu.uid
        LEFT JOIN lazy_bns_studio lbs ON lbco.studioId=lbs.id
        LEFT JOIN lazy_bns_course_type lbct ON lbco.courseTypeId=lbct.id
        LEFT JOIN lazy_sys_subdict lss ON lsc.starRating=lss.seqNo
		<where>
			<if test="1 == 1">
				AND lbco.orderStatus=2
				AND lbco.status=1
				AND lbcs.status=1
				AND lss.dictCode='COACH_STARRATING_PRICE'
			</if>
			<if test="privateType == 1">
			   AND (lbcs.startTime > now() OR  lbcs.alterStartDate &gt; NOW()) 
			</if>
			
			<if test="uid != null">
			    AND lbco.uid=#{uid}
			</if>
			<if test="startTime != null">
				AND (DATE_FORMAT(lbcs.startTime,'%Y-%m-%d') = DATE_FORMAT(#{startTime}, '%Y-%m-%d')
				OR DATE_FORMAT(lbcs.alterStartDate,'%Y-%m-%d') = DATE_FORMAT(#{startTime}, '%Y-%m-%d'))
			</if>
			<if test="courseTypeId != null">
				AND lbco.courseTypeId=#{courseTypeId}
			</if>
			<if test="type != null">
				AND lbco.type=#{type}
			</if>
		</where>
		<if test="orderType == 1">
			ORDER BY lbco.createTime
		</if>
		<if test="orderType == 2">
			ORDER BY lbco.createTime DESC
		</if>
		<if test="orderType == 3">
			ORDER BY lbco.createTime ASC
		</if>
	</select>
	
	
	<!-- 根据ID查询教练发布时间节点段状态 -->
	<select id="queryClubList" parameterType="Map" resultType="Map">
	   SELECT
			lfi.id,lfi.faceId,date_format(lfi.inTime, '%Y-%m-%d %h:%i:%s') as inTime,
			date_format(lfi.outTime, '%Y-%m-%d %h:%i:%s') as outTime,lfu.*
		FROM
			lazy_face_inout lfi
			LEFT JOIN lazy_face_user lfu ON lfi.faceId=lfu.id
	</select>
	
	<!-- 查询人脸对象信息 -->
	<select id="queryFaceUserInfo" parameterType="Map" resultType="Map">
		SELECT
			lfu.id,lfu.uid,lfu.faceKey,lfu.name,lfu.avatar,lfu.photoIds,lfu.subjectType,date_format(lfu.createTime, '%Y-%m-%d %h:%i:%s') as createTime
		FROM
			lazy_face_user lfu
		<where>
			<if test="faceKey != null">
				AND lfu.faceKey=#{faceKey}
			</if>
			<if test="name != null">
				AND lfu.name=#{name}
			</if>
		</where>
	</select>
	
	
	<insert id="saveFaceInOut" parameterType="Map" flushCache="true" useGeneratedKeys="true" keyProperty="id">  
    	INSERT INTO lazy_face_inout (faceId) VALUES  (#{faceId})
     </insert>
	
	
</mapper>